$azul : #002858;
$azul2 : #002858aa;
$amarillo: #ffc836;

html,body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
    
}


/* Continuar desde aqui... */
